# Dependencies
## Avoid any node_modules folders anywhere in the repo; see see https://docs.wpvip.com/how-tos/manage-dependencies/#version-management
node_modules

## Avoid package*.json files only at repo root
/package.json
/package-lock.json

# Built-in; ship with vip-go-mu-plugins
# Plugins Loaded via Composer
/plugins/*

# Uploads directory
/uploads/

# Leftover core/plugin upgrade files
/upgrade/

# mu-plugins; these are managed at the platform-level
/mu-plugins/

# drop-ins; these are managed at the platform-level
/object-cache.php
/db.php

# Ignore temporary OS files
.DS_Store
.DS_Store?
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Local PHPCS configuration files
.phpcs.xml
phpcs.xml

# Composer
vendor

# PhpStorm
.idea/

# Sensitive data
auth.json
client-mu-plugins/vip-env-vars.local.php

# Vite
dist
build

# Log files
*.log

# Local config file
client-mu-plugins/goodbids/config.local.json

# Plugins that are NOT loaded via Composer
!/plugins/miniorange-oauth-oidc-single-sign-on/
!/client-mu-plugins/goodbids/vendor/bshaffer/
!/plugins/wp-mail-smtp-pro/
!/plugins/wp-mail-smtp-pro/vendor/
!/plugins/batch-upload-plugin/
