.woocommerce div.product div.images {
	width: 100% !important;
}

.woocommerce .flex-viewport {
	margin-bottom: 1rem;
}

.woocommerce div.product div.images .flex-control-thumbs {
	display: flex;
    gap: 1rem
}

.woocommerce .woocommerce-product-gallery__image.flex-active-slide,
.woocommerce .flex-viewport,
.woocommerce div.product div.images img,
.woocommerce div.product div.images .flex-control-thumbs li img {
	border-radius: 30px;
}

