/**
 * Hover style for core/button -> variations -> outline
 * Colors vars are set in theme.json
 */

.wp-block-button.is-style-outline > .wp-block-button__link:not(.has-text-color, .has-background):hover,
.wp-block-button.is-style-outline > .wp-block-button__link:not(.has-text-color, .has-background):focus{
	background-color: var(--wp--preset--color--contrast);
	color: var(--wp--preset--color--contrast-4);
}

/*TODO move this all to Tailwind once we set that up*/
.wp-button-custom > a {
	background-color: var(--wp--preset--color--contrast);
	color: var(--wp--preset--color--base-2);
	font-size: var(--wp--preset--font-size--x-small);
	font-weight: 500;
	text-decoration: none;
    border-color: var(--wp--preset--color--contrast);
    border-radius: 100px;
    border-width: 0;
	padding-top: 0.8rem;
    padding-right: 1.5rem;
	padding-left: 1.5rem;
	padding-bottom: 0.8rem;

	&:hover {
		background-color: var(--wp--preset--color--contrast-4);
		border-color: var(--wp--preset--color--contrast);
		color: var(--wp--preset--color--contrast);
	}

	&:focus {
		background-color: var(--wp--preset--color--contrast-4);
		border-color: var(--wp--preset--color--contrast);
		color: var(--wp--preset--color--contrast);
		outline-color: var(--wp--preset--color--contrast);
		outline-offset: 2px;
		outline-style: dotted;
		outline-width: 1px;
	}
}
